preprocessing_pkg/__pycache__/stay.cpython-312.pyc
preprocessing_pkg/__pycache__/od.cpython-312.pyc
preprocessing_pkg/__pycache__/__init__.cpython-312.pyc
__pycache__/BIGC_VIS_for_dashboard.cpython-312.pyc
__pycache__/data_rev.cpython-312.pyc
__pycache__/df_generation_for_dashboard.cpython-312.pyc
data/.DS_Store
data/행정구역(동별)_20241005223439.xlsx
data/od_raw_data/.DS_Store
app.log
mk_zipfile.py
data/KIKmix_20230701.csv
.vscode/settings.json
__pycache__/region.cpython-312.pyc
zip_test.ipynb
__pycache__/df_generation.cpython-312.pyc
.DS_Store
data/od/**
data/stay/**
data/**.zip